<div class="jumbotron" style="padding-top:0;padding-bottom:0;">
  <div class="display-grid">

    <%55.times do |i|%>
      <% if i%2==0 %>
        <div class="box e"></div>
      <% else%>
        <div class="box o"></div>
      <%end %>
    <%end %>
<!-- 
    <%55.times do |i|%>
      <% case  %>
      <% when i<7%>
        <% if i%2==0 %>
          <div class="box a<%=i%>"></div>
        <% else%>
          <div class="box a<%=i%>"></div>
        <%end %>
      <%end %>
    <%end %> -->

  </div>
</div>
