<div class="jumbotron" style="padding-top:0;padding-bottom:0;">
  <div id ="jungletron" class="display-grid">

    <%
    abc = ("a".."z").to_a
    print abc
    (0...5).each{|i|
      (1..11).each{|j|%>
        <div class="box" id="<%=abc[i]%><%=j%>"></div>
    <%  }
    }
    %>




  </div>
</div>
