

<div class="cols">

  <h2><%= @brand %></h2>

  <ul>
    <% @tweets.each { |tweet|%>
      <li> <%= tweet.message %><br>

      <%= time_ago_in_words(tweet.created_at) %>
   </li>
    <% } %>


  </ul>
</div>
