/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
// @import "bootstrap";
::-webkit-scrollbar {
    display: none;
}
.wrapper{
  padding:8px;
}
$more: 1;

$boxW : 8*$more;
$boxSide :calc(100vw/11);
$gaps :  2px;
.jumbotron{
  background: image-url('jungle.jpg');
  padding: $gaps, 0 !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.display-grid{
  position: relative;
  display: grid;
  grid-gap: $gaps ;
  grid-template-columns:  repeat(11*$more, 1fr );
  grid-template-rows:  repeat(5*$more, [row] $boxSide  );
}
.box{
  color: #fff;
  background-color: #0084b4;
}
.e{
  background-color: #0084b4;
}

.o{
  background-color: #c0deed;
}

.clear{background-color: rgba(124,124,256,0.1);}
.pink{background-color: rgb(256,124,124);}

$barHeight : 80px;
.grid-cols{
  height: $barHeight;
  display: grid;
  // grid-gap: 12px;
  grid-template-columns:  3fr 7fr;
  // grid-template-rows:repeat(5, [col] 75px );
}
.cols{
  // border: 1px solid black;
  background-color: #48ABE7;
  font-size: 3em;
  position: relative;
}
.cols:first-of-type{
  background-color:white;
}
.logo{
  position: absolute;
  right:0;
  height: $barHeight;
  opacity: 10;
}
